<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{newsItem.mediaPreviews}">
	<f:then>
		<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
			<f:if condition="{mediaElement.originalResource.type} == 4">
				<f:then>
					<f:render section="videoType" arguments="{_all}"/>
				</f:then>
				<f:else>
					<f:render section="imageType" arguments="{_all}"/>
				</f:else>
			</f:if>
		</f:alias>
	</f:then>
	<f:else>
		<f:if condition="{settings.flexslider.imageLink} || {settings.flexslider.style} == 5">
			<f:then>
				<n:link newsItem="{newsItem}" settings="{settings}">
					<f:render section="dummy" arguments="{_all}"/>
				</n:link>
			</f:then>
			<f:else>
				<f:render section="dummy" arguments="{_all}"/>
			</f:else>
		</f:if>
	</f:else>
</f:if>

<f:section name="imageType">
	<f:if condition="{settings.flexslider.imageLink}">
		<f:then>
			<n:link newsItem="{newsItem}" settings="{settings}">
				<f:render section="media" arguments="{_all}"/>
			</n:link>
		</f:then>
		<f:else>
			<f:render section="media" arguments="{_all}"/>
		</f:else>
	</f:if>
</f:section>

<f:section name="videoType">
	<span class="mediaelement-video embed-responsive embed-responsive-{settings.flexslider.videoSize}">
		<f:render section="media" arguments="{_all}"/>
	</span>
</f:section>

<f:section name="media">
	<f:media
			file="{mediaElement.originalResource}"
			alt="{mediaElement.originalResource.alternative}"
			title="{mediaElement.originalResource.title}"
			width="{f:if(condition:'{width}',then:'{width}', else:'{settings.flexslider.width}')}c"
			height="{f:if(condition:'{height}',then:'{height}', else:'{settings.flexslider.height}')}c"
			class="{f:if(condition: '{mediaElement.originalResource.type} == 4',then: 'embed-responsive-item')}"
	/>
</f:section>

<f:section name="dummy">
	<f:image src="{settings.list.media.dummyImage}"
			 title="{newsItem.title}"
			 alt="dummy image"
			 width="{f:if(condition:'{width}',then:'{width}', else:'{settings.flexslider.width}')}c"
			 height="{f:if(condition:'{height}',then:'{height}', else:'{settings.flexslider.height}')}c"
			 class="dummy-image"/>
</f:section>
</html>
