<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:newsslider="http://typo3.org/ns/T3S/Newsslider/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{news}">
	<f:if condition="{settings.camera.cssFile}">
		<f:then>
			<f:asset.css identifier="cameracss" href="{settings.camera.cssFile}" />
		</f:then>
		<f:else>
			<f:asset.css identifier="cameracss" href="EXT:newsslider/Resources/Public/Styles/Camera/camera.css" />
		</f:else>
	</f:if>
	<f:if condition="{settings.camera.jQuery.mobile}">
		<f:asset.script identifier="jQuerymobile" src="EXT:newsslider/Resources/Public/Scripts/jquery.mobile.customized.min.js" />
	</f:if>
	<f:if condition="{settings.camera.jQuery.easing}">		
		<f:asset.script identifier="jQueryeasing" src="EXT:newsslider/Resources/Public/Scripts/jquery.easing.1.3.js" />
	</f:if>
	<f:asset.script identifier="camerajs" src="EXT:newsslider/Resources/Public/Scripts/camera.min.js" />
	<newsslider:inlineJs contentObjectUid="{contentObjectData.uid}" action="camera" settings="{settings}"/>	
	<div id="camera_wrap_{contentObjectData.uid}" class="tx_newsslider">
		<f:render section="Camera"/>
	</div>
	<span class="clearfix"></span>
</f:if>
</html>
