<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:newsslider="http://typo3.org/ns/T3S/Newsslider/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{news}">
	<f:if condition="{settings.customslider.cssFile}">
		<newsslider:includeFile path="{settings.customslider.cssFile}"/>
	</f:if>
	<f:if condition="{settings.customslider.jsFile}">
		<newsslider:includeFile path="{settings.customslider.jsFile}"/>
	</f:if>
	<newsslider:inlineJs contentObjectUid="{contentObjectData.uid}" action="customslider" settings="{settings}"/>
	<f:render section="Customslider"/>
</f:if>
</html>
