<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:newsslider="http://typo3.org/ns/T3S/Newsslider/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{news}">
	<f:if condition="{settings.flexslider.cssFile}">
		<f:then>
			<f:asset.css identifier="flexslidercss" href="{settings.flexslider.cssFile}" />
		</f:then>
		<f:else>
			<f:asset.css identifier="flexslidercss" href="EXT:newsslider/Resources/Public/Styles/Flexslider/flexslider.css" />
		</f:else>
	</f:if>
	<f:asset.script identifier="flexsliderjs" src="EXT:newsslider/Resources/Public/Scripts/jquery.flexslider-min.js" />
	<newsslider:inlineJs contentObjectUid="{contentObjectData.uid}" action="flexslider" settings="{settings}"/>
	<div id="flexslider_{contentObjectData.uid}"
		 class="tx_newsslider flexslider{f:if(condition:'{settings.flexslider.style}==4',then:' carousel')}{f:if(condition:'{settings.flexslider.style}==5',then:' carousel')}"
		 style="max-width:{settings.flexslider.width}px;">
		<ul class="slides">
			<f:render section="Flexslider"/>
		</ul>
	</div>
	<f:if condition="{settings.flexslider.style} == 3">
		<div id="carousel_{contentObjectData.uid}" class="flexslider carousel thumbnailslider hidden-xs"
			 style="max-width:{settings.flexslider.width}px;">
			<ul class="slides">
				<f:variable name="width">
					{f:cObject(typoscriptObjectPath:'lib.math',data:'({settings.flexslider.width}-8-({settings.flexslider.thumbnumber}
					*{settings.flexslider.itemMargin}-{settings.flexslider.itemMargin}))/{settings.flexslider.thumbnumber}')}
				</f:variable>
				<f:variable name="height">
					{f:cObject(typoscriptObjectPath:'lib.math',data:'{settings.flexslider.height}/{settings.flexslider.thumbnumber}')}
				</f:variable>
				<f:for each="{news}" as="newsItem">
					<n:excludeDisplayedNews newsItem="{newsItem}"/>
					<li>
						<f:render partial="Flexslider/Media"
								  arguments="{newsItem:newsItem, settings:settings, width:width, height:height }"/>
					</li>
				</f:for>
			</ul>
		</div>
	</f:if>
</f:if>
</html>
